/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

body {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}
.clear {
	clear:both;
}
.header {
	margin-top:2%;
	width:100%;
	text-align:center;
}
.header h1 {
	font-family: 'Open Sans', sans-serif;
	line-height:25px;
	text-transform:uppercase;
	color:grey;
}
.content{
	width:60%;
	margin:3% auto 0 auto;
	height:460px;
	background-color:#F5F5F5;
}
.content1 {
	background-color:#98d091;
	text-align:center;
	padding:2em;
}
.content1 h2 {
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	margin:0;
	color:#fff;
}
.content2 {
	background-color:#b5e6ae;
}
.content2-header1 {
	float:left;
	width:27%;
	text-align:center;
	padding:1.5em;
}
.content2-header1 p {
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	font-weight:700;
	color:#4E7D48;
	margin:0;
}
.content2-header1 span {
	font-size:14px;
	font-weight:400;
}
.shipment {
	width:100%;
	margin-top:10%;
}
span.line {
    height: 5px;
    width: 90px;
    background-color:#F5998E;
    display: block;
    position: absolute;
    top: 28%;
    left: 45%;
}
.confirm{
	text-align:center;
	width:20%;
	position:relative;
	float:left;
	margin-left:5%;
}



.content3 p {
	margin-left:-50%;
	font-size:15px;
	font-weight:600;
} 
.imgcircle {
	height:75px;
	width:75px;
	border-radius:50%;
	background-color:#F5998E;
	position:relative;
}
.imgcircle img {
	height:30px;
	position:absolute;
	top: 28%;
	left: 30%;
}



.ok {
	background-color:#98D091;
}
span.ok {
	background-color:#98D091; 
}

.process{
	position:relative;
	width:20%;
	text-align:center;
	float:left;
}
.quality {
	position:relative;
	width:20%;
	text-align:center;
	float:left;
}
.dispatch{
	position:relative;
	width:20%;
	text-align:center;
	float:left;
}
.delivery{
	position:relative;
	width:20%;
	text-align:center;
	float:left;
	margin-right:-9%;
}
.footer a, a:active {
	color:grey;
	text-decoration:none;
	font-family: 'Tahoma', sans-serif;
}
.footer a:hover {
	color:#00c4ff;
	text-decoration:none;
	transition:all 0.5s ease-in-out;
}
.footer {
	margin-top:3%;
	text-align:center;
	font-weight:100;
}
.footer p {
	color:grey;
	font-size:15px;
	font-family: 'Tahoma', sans-serif;
	line-height:25px;
}

.formsuivi {
	text-align: center;
	margin-top: 50px;
}

.formsuivi label {
	font-weight: lighter;
}

/*---- responsive-design -----*/
@media(max-width:1920px){
	span.line {
	width:157px;
	left:32%;
	}
	.shipment{
		margin-top:6%;
	}
.content3 p{
margin-left:-65%;
}
}

@media(max-width:1680px){
	.content3 p {
    margin-left: -60%;
}
span.line {
    width: 127px;
    left: 37%;
}
}

@media(max-width:1600px){
span.line {
    width: 117px;
    left: 39%;
}
}

@media(max-width:1440px){
.content3 p {
    margin-left: -53%;
}
span.line {
    width: 99px;
    left: 43%;
}
}

@media (max-width: 1366px){
span.line {
    width: 90px;
    left: 45%;
}
.shipment {
    margin-top: 10%;
}
}

@media (max-width: 1280px){
span.line {
    width: 80px;
    left: 48%;
	top:29%;
}
}

@media (max-width: 1080px){
.content {
width: 75%;
}
span.line {
    width: 88px;
left: 46%;
}
}

@media (max-width: 1050px){
span.line {
    width: 84px;
    left: 47%;
}
}

@media (max-width: 1024px){
	.content{
		width:77%;
	}
	.content3 p {
		font-size:14px;
	}
}

@media (max-width: 991px){
	.content {
    width: 80%;
}
span.line {
    width: 84px;
    left: 47%;
}
}

@media (max-width: 900px){
.content {
    width: 85%;
}
span.line {
    width: 78px;
    left: 49%;
}
}

@media (max-width: 800px){
.content {
    width: 95%;
}
.content2-header1 p {
	margin: 0 0 0 -7%;
}
}

@media (max-width: 768px){
	.content {
    width: 90%;
}
.content2-header1 {
	width: 25%;
}
.content2-header1 p {
    margin: 0 -19% 0 -10%;
}
span.line {
    width: 72px;
    left: 51%;
}
}

@media (max-width: 736px){
	span.line {
    width: 62px;
    left: 55%;
}
}

@media (max-width: 667px){
	.content2-header1 p {
	font-size:14px;
	}
	.content2-header1 span {
    font-size: 13px;
}
.shipment {
    margin-top: 13%;
}
.content3 p {
    font-size: 12px;
	margin-left: -35%;
}
.confirm{
	margin-left:4%;
}
span.line {
    width: 49px;
    left: 60%;
}
}

@media (max-width: 600px){
	.content1 {
		padding:1.2em;
	}
.content2-header1 p {
    font-size: 13px;
}
.content2-header1 span {
    font-size: 12px;
}
.content2-header1 {
    width: 24%;
}
.imgcircle {
    height: 65px;
    width: 65px;
}
.imgcircle img{
	top: 26%;
    left: 27%;
}
.content3 p {
	margin-left: -38%;
	font-size:11px;
}
.content {
	height: 395px;
}
span.line {
    width: 50px;
    left: 58%;
}
}

@media (max-width: 568px){
	.content{
		height:380px;
}
	.content1{
	padding: 1em;
}
	span.line {
    width: 56px;
    left: 47%;
}
	.content2-header1 {
    width: 23%;
}
	.imgcircle {
    height: 50px;
    width: 50px;
}
	.imgcircle img {
    height: 25px;
    top: 27%;
    left: 25%;
}
	.content3 p {
    font-size: 10px;
    margin-left: -46%;
}
	.confirm {
    margin-left: 5%;
}
}

@media (max-width: 414px){
	.header {
    margin-top: 8%;
}
	.content {
    width: 70%;
	height:750px;
	margin-top:9%;
	padding:10%;
}
	.content1 {
	margin: -14% 0 0 -14%;
	width:116%;
}
	.content1 h2 {
	font-size:22px;
}
	.content2 {
    margin-left: -14%;
	width: 127.5%;
}
	.content2-header1 {
	padding:0.7em;
    width: 80%;
	margin-left: 3%;
}
	.content2-header1 p {
    font-size: 19px;
}
	.content2-header1 span {
    font-size: 16px;
}
	.confirm {
	width:100%;
}
	.process {
	width:100%;
	margin: 22% 0 0 5%;
}
	.quality{
	width:100%;
	margin: 22% 0 0 5%;
}
	.dispatch{
	width:100%;
	margin: 22% 0 0 5%;
}
	.delivery{
	width:100%;
	margin: 22% 0 0 5%;
}
	.imgcircle {
    height: 70px;
    width: 70px;
	margin-left: 35%;
}
	.imgcircle img {
    height: 30px;
    top: 27%;
    left: 28%;
}
	span.line {
    width: 6px;
    left: 46%;
    height: 48px;
	top:124%;
}
	.content3 p {
    font-size: 15px;
    margin: -16% 0 4% -81%;
}
	.shipment {
    margin-left: 16%;
}
	.footer {
	padding:1%;
}
	.footer p {
	font-size:16px;
}
}

@media (max-width: 384px){
	.header {
    margin-top: 9%;
}
	.content1 {
	width:115%;
}
	.content1 h2 {
    font-size: 21px;
}
	.content3 p {
    margin: -18% 0 6% -85%;
}
	.shipment {
    margin-top: 15%;
}
	span.line {
	top:118%;
	left:47%;
	height:47px;
}
	.content {
    height: 770px;
}
	.footer {
    padding: 3%;
}
	.footer p {
    font-size: 15px;
}
}

@media (max-width: 375px){
	.content {
    height: 755px;
	width:68%;
}
	.content2{
	width:128%;
}
	.content1 h2 {
    font-size: 19px;
}
	.content3 p {
    margin: -18% 0 8% -86%;
}
	span.line {
    top: 105%;
    left: 47.5%;
    height: 52px;
}
	.shipment {
    margin-left: 17%;
}
}

@media (max-width: 320px){
	.header {
    margin-top: 10%;
}
	.content{
	width:66%;
	margin-top: 10%;
	padding:12%;
    height: 709px;
}
	.content1 {
    padding: 0.7em;
	width:125%;
	margin:-18% 0 0 -18%;
}
	.header h1{
	font-size:30px;
}
	.content2 {
	margin-left: -18%;
	width: 136.5%;
}
	.content1 h2 {
    font-size: 16px;
}
	.content2-header1 span {
    font-size: 15px;
}
	.content3 p {
    margin: -23% 0 12% -99%;
}
	.shipment {
	margin: 16% 0 0 19%;
}
	span.line {
    top: 102%;
    left: 50%;
	height:44px;
}
	.footer {
	margin-top: 1%;
}
	.footer p {
    font-size: 14px;
}
}

